@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald&display=swap");
footer {
  width: 100vw;
  background-color: #114be3; }
  footer a {
    text-decoration: none;
    color: white; }
  footer #iconoinsta {
    width: 50px;
    height: 50px; }
  footer #iconowhatsap {
    width: 50px;
    height: 50px; }
  footer #iconolinkedin {
    width: 50px;
    height: 50px; }
  footer #iconocorreo {
    width: 50px;
    height: 50px; }
  footer #iconotwiter {
    width: 50px;
    height: 50px; }

header {
  background-color: #001397; }
  header #imagenlogo {
    height: 15vh;
    width: 10vw; }
  header .nav-link {
    color: white !important; }
  header h1 {
    color: white; }
  header ul li {
    font-size: 25px;
    font-family: "Oswald", sans-serif; }

main {
  width: 100vw;
  background-color: #c6d8f8; }
  main .card-body {
    background-color: #d8d8c0; }

.img-fluid {
  width: 100vw !important; }

.imgproductor {
  width: 50vw; }

.imagenapp {
  width: 85vh; }

section p {
  font-size: 20px !important;
  font-family: "Roboto", sans-serif !important; }

strong {
  font-size: 20px !important;
  font-family: "Roboto", sans-serif !important; }

ul li {
  font-size: 20px;
  font-family: "Roboto", sans-serif; }

p {
  font-size: 20px !important;
  font-family: "Roboto", sans-serif; }

#imagenrapipago {
  height: 235px;
  width: 359px; }

#imagenpagoefectivo {
  height: 235px;
  width: 359px; }

#imagendebito {
  height: 235px;
  width: 359px; }

#imagentarjetas {
  height: 235px;
  width: 359px; }

@media (max-width: 576px) {
  iframe {
    display: none; }
  footer section img {
    display: none; }
  .imagenapp {
    display: none; } }

@media (min-width: 768px) and (max-width: 992px) {
  main {
    background-color: #b4bdbd !important; }
  footer {
    display: none; } }
