header{

    background-color: #001397;

    #imagenlogo{
        height: 15vh;
        width: 10vw;
    }
     
    .nav-link{
        color: white !important;
    }

    h1{
        color: white;
    }
    
   ul{
    li{
        font-size: $fuente-lista*2.5;
        font-family: $oswald;

    }
   }

}
